In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Admission_Predict.csv")
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
from sklearn.tree import DecisionTreeClassifier

In [5]:
df['Chance of Admit ']=np.where(df['Chance of Admit ']<=0.7,0,1)

In [6]:
x=df.iloc[:,[1,2,3,4,5,6,7]]
x

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
395        324          110                  3  3.5   3.5  9.04         1
396        325          107                  3  3.0   3.5  9.11         1
397        330          116                  4  5.0   4.5  9.45         1
398        312          103                  3  3.5   4.0  8.78         0
399        333          117                  4  5.0   4.0  9.66         1

[400 rows x 7 columns]

In [7]:
y=df.iloc[:, [8]]
y

     Chance of Admit
0                   1
1                   1
2                   1
3                   1
4                   0
..                ...
395                 1
396                 1
397                 1
398                 0
399                 1

[400 rows x 1 columns]

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [9]:
model=DecisionTreeClassifier(criterion='entropy',max_depth=1)

In [10]:
model.fit(x_train.values,y_train.values)

DecisionTreeClassifier(criterion='entropy', max_depth=1)

In [11]:
pred=model.predict(x_test)
pred

C:\Users\L\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:458: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

array([1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0])

In [12]:
from sklearn.metrics import accuracy_score, mean_absolute_error, mean_squared_error, confusion_matrix

In [13]:
acc=accuracy_score(y_test,pred)
acc

0.79

In [14]:
mat=(confusion_matrix(y_test,pred))
mat

array([[34,  3],
       [18, 45]], dtype=int64)

In [15]:
model

DecisionTreeClassifier(criterion='entropy', max_depth=1)